/* Makj0005 */
/********************************************/

* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: var(--text-color);
    font-size: 1.2rem;
    user-select: none;
    -webkit-user-select: none; /* Safari-specific prefix */
}

/********************************************/
/* Color palette variables */
/********************************************/

:root {
    /* Text and General Colors */
    --text-color: #1B1414;
    --background-color: #E5DCBA;
    --border-color: #934C38;

    /* Button Colors */
    --button-bg: #79AC78;
    --button-border: #618264;
    --button-text: #D0E7D2;
    --button-hover: #618264;
    --button-shadow: rgba(0, 0, 0, 0.25);

    /* BPM screen colors */
    --screen-bg: #2D4E66;
    --screen-border: #698498;
    --screen-text: #b5c2cc;

    /* Label and Input Colors */
    --label-text: #D0E7D2;
    --input-bg: #E5DCBA;
    --input-border: #4C4343;
    --input-text: #1B1414;

    /* Heading and Sequencer Colors */
    --heading-text: #E5DCBA;
    --sequencer-bg: #403C3D;
    --sequencer-border: #1B1414;
    --sequencer-shadow: rgba(0, 0, 0, 0.7);

    /* Counter and Row Colors */
    --counter-bg: #934C38;
    --counter-border: #E5DCBA;
    --counter-text: #1B1414;
    --counter-bold-text: #E5DCBA;
    --row-bg: #495057;
    --row-text: #1B1414;
    --row-border: #212529;
    --row-hover: #6C757D;
    --row-shadow: rgba(0, 0, 0, 0.4);

    /* Kick Button Colors */
    --kick-bg: #DF2E38;
    --kick-border: #850000;
    --kick-glow: 0 5px 15px var(--kick-border);

    /* Snare Button Colors */
    --snare-bg: #E6ADEC;
    --snare-border: #C287E8;
    --snare-glow: 0 5px 15px var(--snare-border);

    /* High-Hat Button Colors */
    --high-hat-bg: #F2E863;
    --high-hat-border: #F2CD60;
    --high-hat-glow: 0 5px 15px var(--high-hat-border);

    /* Playing Indicator Colors */
    --playing-bg: #E8E8E8;
    --playing-border: #B7B7B7;
    --playing-glow: 0 5px 15px var(--playing-border);
}

/********************************************/
/* Main CSS section underneath */
/********************************************/

html, body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

main {
    max-width: 1080px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 2%;
}

header {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 6px solid var(--border-color);
    border-bottom: 6px solid var(--border-color);
    background-color: var(--row-border)
}

header button,
.bpm-control {
    font-weight: bold;
    padding: 12px 24px;
    cursor: pointer;
    transition-duration: 0.15s;
}

.bpm-control {
    background-color: var(--screen-bg);
    border: 4px solid var(--screen-border);
    border-radius: 8px;
}

header button {
    width: 6rem;
    background-color: var(--kick-border);
    border: 4px solid var(--kick-bg);
    border-radius: 12px;
    color: var(--button-text);
    display: flex;
    justify-content: center;
    align-items: center;
}  header button:hover {
    background-color: var(--kick-bg);
    border: 4px solid var(--kick-border);
    transform: scale(1.05);
    box-shadow: 0 0 10px 0 var(--kick-border);
}

.bpm-control label {
    color: var(--screen-text);
    font-weight: bold;
    margin-right: 10px;
}

.bpm-control input {
    background-color: var(--screen-text);
    border: 4px solid var(--screen-border);
    color: var(--input-text);
    width: 62px;
    border-radius: 10px;
    padding: 4px;
}

h1 {
    font-size: 2.75rem;
    color: var(--heading-text);
}

.sequencer {
    background-color: var(--sequencer-bg);
    border: 4px solid var(--sequencer-border);
    box-shadow: 0 0 10px 0 var(--sequencer-shadow);
    width: 95%;
    padding-top: 2%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

.row,
.beat-counter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.row span,
.row button {
    width: 10%;
    aspect-ratio: 1/1;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

button {
    background-color: var(--row-bg);
    color: var(--row-text);
    cursor: pointer;
    border: 6px solid var(--row-border);
    transition: background-color 0.15s, border 0.15s;
}  button:hover {
    background-color: var(--row-hover);
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--row-shadow);
}

.beat-counter {
    background-color: var(--counter-bg);
    padding: 12px 0;
    margin-top: 12px;
    border-radius: 0 0 12px 12px;
    border-top: 4px solid var(--counter-border);
    position: relative;
}

.beat-counter button {
    background-color: var(--row-hover);
    border: 4px solid var(--row-border);
    width: 12%;
    aspect-ratio: 1/1;
    padding: 5px;
    margin: 0 2.2%;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    font-weight: bold;
    transition: transform 0.4s;
} .beat-counter button:hover {
      transform: rotate(360deg);
  } .beat-counter button:active {
        transform: scale(0.92)
    }

.rotate-animation {
    transform: rotate(360deg);
}

.beat-counter span {
    width: 18%;
    padding: 12px 0;
    text-align: center;
    color: var(--counter-text);
}

span.first-beat {
    font-weight: bold;
    color: var(--counter-bold-text);
}

.kick,
button.kick {
    background-color: var(--kick-bg);
    border: 6px solid var(--kick-border);
    box-shadow: var(--kick-glow);
}   button.kick:hover,
    .kick:hover {
    background-color: var(--kick-border);
    border: 6px solid var(--kick-bg);
}

.snare,
button.snare {
    background-color: var(--snare-bg);
    border: 6px solid var(--snare-border);
    box-shadow: var(--snare-glow);
}  button.snare:hover,
   .snare:hover {
    background-color: var(--snare-border);
    border: 6px solid var(--snare-bg);
}

.high-hat,
button.high-hat {
    background-color: var(--high-hat-bg);
    border: 6px solid var(--high-hat-border);
    box-shadow: var(--high-hat-glow);
}  .row button.high-hat:hover,
   .high-hat:hover {
    background-color: var(--high-hat-border);
    border: 6px solid var(--high-hat-bg);
}

.playing {
    background-color: var(--playing-bg);
    border: 6px solid var(--playing-border);
    box-shadow: var(--playing-glow);
}


/****************************************/
/************ Explain pop-ups ***********/
/****************************************/

.explanation-row {
    z-index: 2;
    position: relative;
    left: -21%;
    top: 10rem;
}

.explanation-bpm {
    z-index: 2;
    position: relative;
    left: 25%;
    top: 4.5rem;
}

.explanation-play {
    z-index: 2;
    position: relative;
    left: -33%;
    top: 4rem;
}

.explanation-reset {
    z-index: 2;
    position: absolute;
    left: 20%;
    top: -18rem;
}

.explanation-reset div.line {
    background-color: var(--row-border);
    transform: translateY(201%);
    left: -5.9rem;
    height: 6.5rem;
}

.line {
    width: 0.2rem;
    background-color: var(--background-color);
    position: absolute;
    transform: translateY(25%);
    height: 6rem;
}

.content {
    background-color: var(--background-color);
    border: 0.3rem solid var(--counter-bg);
    box-shadow: 0 0 12px 2px var(--row-shadow);
    padding: 0.75rem;
    position: absolute;
    top: 6rem; /* should match height of line */
    transform: translateX(-49.5%);
    text-align: center;
    border-radius: 12px;
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}

.content button {
    width: 50%;
    max-height: 2.5rem;
    padding: 5px;
    border-radius: 12px;
    background-color: var(--counter-bg);
    color: var(--background-color);
    border: none;
}

.text {
    color: var(--row-border);
    font-size: 1rem;
}

.explain-invisible {
    display: none;
}

/************************************/
/************ Media Query ***********/
/************************************/

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .row span {
        font-size: 17px;
    }
}


@media (max-width: 768px) {
    main {
        max-width: 675px;
    }

    button.desktop,
    span.desktop {
        display: none;
    }

    .mobile {
        display: flex;
    }

    h1 {
        display: none;
    }

    .row button,
    .row span {
        width: 18%;
        font-size: 75%;
    }

    .beat-counter button {
        margin: 0 3.5%;
        font-size: 0.8rem;
        min-width: 3.8rem;
    }

    .explanation-row {
        left: -18.5%;
        top: 10rem;
    }

    .explanation-bpm {
        left: 12%;
    }

    .explanation-play {
        position: relative;
        left: -18%;
        top: 4rem;
    }

    .explanation-reset {
        left: 40%;
    }

}