/* Makj0005 */
/********************************************/

* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: black;
    font-size: 1.15rem;
}


body,
main,
header {
    background-color: #021C26;
}

header {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 4px solid #0BBF38;
}

header button,
.bpm-control {
    background-color: green;
    border: 4px solid #0BBF38;
    color: lightgray;
    font-weight: bold;
    border-radius: 12px;
    padding: 12px 24px;
    cursor: pointer;
    transition-duration: 0.15s;
} header button:hover {
      background-color: #0BBF38;
      border: 4px solid green;
  }

.bpm-control label {
    color: lightgray;
    font-weight: bold;
    margin-right: 10px;
}

.bpm-control input {
    background-color: #021C26;
    border: 4px solid #0BBF38;
    color: lightgray;
    border-radius: 12px;
    padding: 4px;
}

h1 {
    font-size: 2.3rem;
    color: #0BBF38;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sequencer {
    background-color: gray;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
    width: 95%;
    padding-top: 2%;
    margin: 5% 0;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.beat-counter {
    background-color: #2e659b;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    margin-top: 12px;
    border-radius: 0 0 12px 12px;
    border-top: 4px solid #0BBF38;
}

.beat-counter span {
    width: 10%;
    padding: 12px 0;
    margin-right: 0.85%;
    text-align: center;
}

.first-beat {
    font-weight: bold;
}

.row span,
.row button {
    width: 10%;
    aspect-ratio: 1/1;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.row button {
    background-color: #495057;
    color: black; /* TODO: TEMP */
    cursor: pointer;
    border: 6px solid #212529;
    transition: background-color 0.15s, border 0.15s;
} .row button:hover {
      background-color: #6c757d;
  }

.kick,
.row button.kick {
    background-color: red;
    border: 6px solid darkred;
} .row button.kick:hover {
      background-color: darkred;
      border: 6px solid red;
  }

.snare,
.row button.snare{
    background-color: orange;
    border: 6px solid darkorange;
} .row button.snare:hover {
      background-color: darkorange;
      border: 6px solid orange;
  }

.high-hat,
.row button.high-hat{
    background-color: yellow;
    border: 6px solid gold;
} .row button.high-hat:hover {
      background-color: gold;
      border: 6px solid yellow;
  }