/* Makj0005 */
/********************************************/

* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: black;
    font-size: 1.2rem;
    user-select: none;
}

body,
main,
header {
    background-color: #E5DCBA;
}

header {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 6px solid #934C38;
}

header button,
.bpm-control {
    background-color: #79AC78;
    border: 4px solid #618264;
    color: #D0E7D2;
    font-weight: bold;
    border-radius: 12px;
    padding: 12px 24px;
    cursor: pointer;
    transition-duration: 0.15s;
} header button {
      white-space: nowrap;
      width: 108px;
  } header button:hover {
          background-color: #618264;
          border: 4px solid #79AC78;
          transform: scale(1.05);
          box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
  }

.bpm-control label {
    color: #D0E7D2;
    font-weight: bold;
    margin-right: 10px;
}

.bpm-control input {
    background-color: #E5DCBA;
    border: 4px solid #4C4343;
    color: #1B1414;
    width: 65px;
    border-radius: 12px;
    padding: 4px;
}

h1 {
    font-size: 2.75rem;
    color: #4C4343;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sequencer {
    background-color: #403C3D;
    border: 4px solid #1B1414;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
    width: 95%;
    padding-top: 2%;
    margin: 5% 0;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.beat-counter {
    background-color: #934C38;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    margin-top: 12px;
    border-radius: 0 0 12px 12px;
    border-top: 4px solid #E5DCBA;
}

.beat-counter span {
    width: 10%;
    padding: 12px 0;
    margin-right: 0.85%;
    text-align: center;
    color: #1B1414;
}

span.first-beat {
    font-weight: bold;
    color: #E5DCBA;
}

.row span,
.row button {
    width: 10%;
    aspect-ratio: 1/1;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

button {
    background-color: #495057;
    color: #1B1414;
    cursor: pointer;
    border: 6px solid #212529;
    transition: background-color 0.15s, border 0.15s;
} button:hover {
      background-color: #6c757d;
      transform: scale(1.05);
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  }

.kick,
button.kick {
    background-color: #DF2E38;
    border: 6px solid #850000;
    box-shadow: 0 5px 15px rgba(133, 0, 0, 0.5);
} button.kick:hover, .kick:hover {
      background-color: #850000;
      border: 6px solid #DF2E38;
  }

.snare,
button.snare{
    background-color: #e6adec;
    border: 6px solid #c287e8;
    box-shadow: 0 5px 15px rgba(194, 135, 232, 0.5);
} button.snare:hover, .snare:hover {
      background-color: #c287e8;
      border: 6px solid #e6adec;
  }

.high-hat,
button.high-hat{
    background-color: #f2e863;
    border: 6px solid #f2cd60;
    box-shadow: 0 5px 15px rgba(242, 205, 96, 0.5);
} .row button.high-hat:hover,
  .high-hat:hover {
      background-color: #f2cd60;
      border: 6px solid #f2e863;
  }

.playing {
    background-color: #e8e8e8;
    border: 6px solid #b7b7b7;
    box-shadow: 0 5px 15px rgba(183, 183, 183, 0.5);
}

/************************************/
/************ Media Query ***********/
/************************************/

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .row span {
        font-size: 18px;
    }
}


@media (max-width: 768px) {
    button.desktop, span.desktop {
        display: none;
    }

    .mobile {
        display: flex;
    }

    h1 {
        display: none;
    }

    .row button,
    .row span {
        width: 18%;
        font-size: 18px;
    }

    .beat-counter{
        justify-content: space-around;
    }

    .sequencer {
        margin-top: 75px;
    }
}